
body{
    background-color: antiquewhite;
}
.name{
    text-align: center;
}
.links{
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.homebio{
    display: grid;
    grid-template-rows: auto;
    box-sizing: border-box;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    font-size: 18px;
}
h3{
    text-align: center;
}
#amoonguss{
    text-align: center;
}
.form-item{
    display: grid;
    grid-template-columns: 5em 37pc;
    justify-content: center;
    padding: 0.4em;
}
@media screen and (max-width: 600px) {
    .form-item{
        grid-template-columns: 5em 20pc;
    }
}
#submit-btn{
    display: grid;
    justify-content: center;
    padding: 10px;
}
h1{
    text-align: center;
}
#about-section1{
    display: grid;
    grid-template-columns:  auto auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 30px;
}
#about-section2{
    display: grid;
    grid-template-columns:  auto auto;
    max-width: 450pt;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 30px;
}
#about-section3{
    display: grid;
    grid-template-columns:  auto auto;
    max-width: 37.5pc;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 30pt;
}
@media screen and (max-width: 600px) {
    .about-img{
        width: 150px;
    }
}